div{
    border: 0px solid black;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.header{
    width: 60vw;

}
.h1-1{
    text-align: center;
    font-size: 15em;
    margin: 1vw 0;
}

.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 60vw;
    height: 15vw;

}
.p-1{
    font-size: 4.3em;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}




.container-2-background{
    background-image: linear-gradient(#ffffff, #32684628, #25597665, #ffffff7c), url(Images/lofoten1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
    height: 70vw;
    background-color: #80808000;

}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 25px rgb(99, 99, 99);
    width: 400px;
    height: 850px;
    margin: 1vw 2vw;

}
img{
    width: 100%;
    height: 280px;
}
.h1-2{
    display: flex;
    justify-content: start;
    align-self: flex-start;
    margin: 25px 30px;
    font-size: 45px;
}
p{
        display: flex;
    justify-content: start;
    align-self: flex-start;
    margin: 10px 30px;
    font-size: 1.5em;

}
button{
    font-size: 2em;
    padding: 15px 90px;
    margin-top: 10px;
    border: none;
    background-color: gray;
    color: aliceblue;

}